#map {
	height: 90%;
	width: 100%;
}

.fullMap {
	margin-top: 5%;
}

.homeBtn {
	width: 75%;
}

.alignedBtn {
	margin-left: 20pt;
}

.searchBox {
	display: inline-block;
	/*margin-right: 5%; */
	height: 30px;
	width: 65%;
}

.submitBtn {
	margin-top: 3%;
}

.nearbyMap {
	height: 100%;
}

/*.smallMap {
	height: 50%;
}*/