body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:570px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:190px;
  top:510px;
  width:380px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:310px;
  top:890px;
  width:140px;
  height:40px;
  font-family:'Candara', 'Candara';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:46px;
}
#u3 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:270px;
  top:1070px;
  width:87px;
  height:90px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:310px;
  top:980px;
  width:140px;
  height:40px;
  font-family:'Candara', 'Candara';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:46px;
}
#u7 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:420px;
  top:1085px;
  width:60px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:258px;
  top:700px;
  width:243px;
  height:100px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:42px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
